html, body {
 padding: 0;
 box-sizing: border-box;
 width: 100%;
 height: 100%;
}

* {
 margin: 0;
}

li {
 list-style-type: none;
}

a {
 text-decoration: none;
}

nav {
 background: black;
 display: flex;
}

main {
 background: #FFCDD2;
}

section {
 background: black;
 color: white;
}

section {
 background: black;
 color: white;
}

footer {
 background: black;
}

footer ul li a, h3 {
 color: #8F8F8F;
}